/Analysis of the 3rd homework.mp4
/Analysis of the 4th homework.mp4
/Analysis of 1st homework.mp4
/Analysis of 2nd homework.mp4
/Lesson #1. Let's start working on the project.mp4
/Lesson #2. Creating the basic functionality of the bot.mp4
/Lesson #3. We finalize the game framework in the bot and prescribe sending different types of messages.mp4
/Lesson #4. We complete the final steps in the bot game and add pictures.mp4
/Preparation. Install IntelliJ IDEA and JDK.mp4
/Links.txt
/TelegramBot.zip
